{
   "dataSources" : {
      "foo" : {
         "spec" : {
            "dataSchema" : {
               "dataSource" : "foo",
               "metricsSpec" : [
                  {
                     "type" : "count",
                     "name" : "count"
                  },
                  {
                     "fieldName" : "x",
                     "type" : "doubleSum",
                     "name" : "x"
                  }
               ],
               "granularitySpec" : {
                  "segmentGranularity" : "hour",
                  "queryGranularity" : "none",
                  "type" : "uniform"
               },
               "parser" : {
                  "type" : "string",
                  "parseSpec" : {
                     "format" : "json",
                     "timestampSpec" : {
                        "column" : "timestamp",
                        "format" : "auto"
                     },
                     "dimensionsSpec" : {
                        "dimensions" : [
                           "dim1",
                           "dim2",
                           "dim3"
                        ]
                     }
                  }
               }
            },
            "tuningConfig" : {
               "windowPeriod" : "PT10M",
               "type" : "realtime",
               "intermediatePersistPeriod" : "PT10M",
               "maxRowsInMemory" : "100000"
            }
         },
         "properties" : {
            "task.partitions" : "1",
            "task.replicants" : "1"
         }
      }
   },
   "properties" : {
      "http.port" : "8200",
      "zookeeper.connect" : "localhost",
      "http.threads" : "8"
   }
}
